body {
    line-height: 1;
    font-family:Arial, Helvetica, sans-serif;
    background: #fff;
}


figure {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

figure img{
    width:740px;
    height: 660px;
    border-radius: 10px;
    box-shadow:
    10px 0px 5px rgb(50, 50, 50),
    -10px 0px 5px rgb(50, 50, 50);
}

footer{
    display:flex;
    justify-content: center;
    margin-top:5px;
}

footer div p {
    background: #3F7EB3;
    color: white;    
    padding:10px 20px;
    margin:0 10px;
    font-weight:bold;
    cursor:pointer;
    display:inline-block;
    text-align:center;
    margin-left:10px;
    border-radius: 10px;
}